.photo-credits-wrapper {
	@include column-3;
}

.photo-credit-container {
	@include margin-bottom(0);
	align-content: start;
	overflow-wrap: break-word;

	.img-container {
		display: inline-block;
		width: 4rem;
		height: 4rem;
		background-size: cover;
		border-radius: 2px;
		border: 1px solid $base80;
		margin-right: 1rem;
	}

	.text-container {
		width: 60%;
		display: inline-block;
		color: $base30;
		font-size: $font__size-small;
		
		p {
			margin: 0;
		}
	}
}