[submodule "client-mu-plugins/vip-go-wpcom-compat"]
	path = client-mu-plugins/vip-go-wpcom-compat
	url = https://github.com/Automattic/vip-go-wpcom-compat.git
[submodule "plugins/fieldmanager"]
	path = plugins/fieldmanager
	url = https://github.com/alleyinteractive/wordpress-fieldmanager
[submodule "plugins/co-authors-plus"]
	path = plugins/co-authors-plus
	url = https://github.com/Automattic/Co-Authors-Plus
