// Module Sizing
@mixin module-width($desktop-bp, $desktop-width) {
	width: 100%;

	@media (min-width: $desktop-bp) {
			width: $desktop-width;
	}
}

// Spacing
@mixin padding($topBottomMobile, $leftRightMobile, $topBottomDesktop, $leftRightDesktop) {

	padding: rem($topBottomMobile) rem($leftRightMobile);

	@media (min-width: $medium-bp) {
		padding: rem($topBottomDesktop) rem($leftRightDesktop);
	}
}

@mixin margin-bottom($size) {
	@if $size == 2 {
		margin-bottom: rem(80);

		@media (min-width: $medium-bp) {
			margin-bottom: rem(100);
		}
	} @else if $size == 1 {
		margin-bottom: rem(40);

		@media (min-width: $medium-bp) {
			margin-bottom: rem(60);
		}
	} @else {
		margin-bottom: rem(20);

		@media (min-width: $medium-bp) {
			margin-bottom: rem(30);
		}
	}
}

// Flexbox
@mixin flexbox($mobile-direction, $desktop-wrap, $desktop-bp, $desktop-direction) {
	display: flex;
	flex-direction: $mobile-direction;

	@media (min-width: $desktop-bp) {
		flex-direction: $desktop-direction;
		flex-wrap: $desktop-wrap;
	}
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Shading
@mixin shade($shade) {
	@if $shade == "dark" {
		background: $base10;
		color: $base100;
	} @else {
		background: $base80;
		color: $base10;
	}
}