.wrapper {
	max-width: rem(1200); // accounts for padding below
	@include padding(0, 32, 0, 64);
	margin: 0 auto;
}

.wrapper-medium {
	max-width: rem(800);
	margin: 0 auto;
}

.wrapper-small {
	max-width: rem(680);
	margin: 0 auto;
}

.section {
	@include margin-bottom(1);
	@include padding(24, 0, 32, 0);
}

// Flex containers
.flex {
	&.flex-all {
		@include flexbox(wrap, wrap, $small-bp, row);
	}
	// Becomes a flex container at medium-bp
	&.flex-medium {
		@include flexbox(column, nowrap, $medium-bp, row);
	}

	&.flex-large {
		@include flexbox(column, nowrap, $large-bp, row);
	}

	&.flex-wrap {
		flex-wrap: wrap;
	}

	&.flex-wrap-reverse {
		flex-wrap: wrap-reverse;
	}

	&.flex-space-between {
		justify-content: space-between;
	}

	&.flex-align-center {
		align-items: center;
	}
}

// flex "templates"
.flex-3 {
	@include column-3;
}

.flex-2 {
	@include column-2;
}

// margin "templates"
.margin-bottom-0 {
	@include margin-bottom(0);
}

.margin-bottom-1 {
	@include margin-bottom(1);
}

.margin-bottom-2 {
	@include margin-bottom(2);
}