.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

// for single
article.post {

	header {
		@include margin-bottom(0);
	}

	.entry-content {
		font-family: $font__serif;
		font-size: $font__size-h4;
		@include margin-bottom(1);

		figure.size-large:not(.is-resized) {
			margin: 0 auto;
			text-align: center;

			figcaption {
				@include module-width($medium-bp, 75%);
				margin: 0 auto;
			}

			@media (min-width: $medium-bp) {
				width: 110%;
				position: relative;
				left: -5%;
			}
		}
	}

	.entry-footer{
		@include shade("light");
		@include padding(30, 0, 60, 0);
		@include margin-bottom(1);

		.comments-wrapper {
			@include module-width($medium-bp, 60%);
		}	

		.entry-footer-meta {
			@include module-width($medium-bp, 32%);
			span {
				display: block;
				@include margin-bottom(0);
			}
		}
	}
}

// for grid
article.grid-post {
	border-radius: 0 0 2px 2px;
	padding-bottom: 1rem;
	@include margin-bottom(1);
	transition: $transition;

	.entry-header:hover .entry-title a {
		text-decoration: underline;
	}

	.entry-title {
		padding: 0.5rem 0.5rem 0;
	}

	.entry-meta {
		padding: 0 0.5rem;
	}

	.entry-meta, .entry-meta a {
		color: $base30;
	}

	.home-thumbnail {
		width: 100%;
		background: $base70;
		background-image: linear-gradient(120deg, $accent50 -400%, $accent90 100%);
		border: 1px solid $base80;

		// when there is no featured image
		&:before {
			content: "";
			display: block;
			padding-top: 100%/3*2; 	// ratio of 3:2
			margin-bottom: rem(6);
		}
	}
}

.posts-grid {
	@include column-3;
}

.nav-links {
	@include margin-bottom(1);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article.page {
	@include margin-bottom(1);

	.entry-content {
		@include module-width($medium-bp, 75%);
		@include module-width($large-bp, 65%);
	}
}