// Wikimedia Base colors
$base0: #000;
$base10: #202122;
$base20: #54595d;
$base30: #72777d;
$base50: #a2a9b1;
$base70: #c8ccd1;
$base80: #eaecf0;
$base90: #f8f9fa;
$base100: #fff;

// Wikimedia accent colors
$accent90: #eaf3ff;
$accent50: #36c;
$accent30: #2a4b8d;
$accent-gradient: linear-gradient(120deg, $accent50 -400%, $accent90 100%);

$color__background-body: $base100;
$color__background-screen: $base100;
$color__background-hr: $base70;
$color__background-pre: $base80;
$color__background-ins: $base90;

$color__text-screen: $base10;
$color__text-input: $base20;
$color__text-input-focus: $base20;
$color__link: $accent50; 
$color__link-visited: #6633cc;
$color__link-hover: $accent50;
$color__text-main: $base10;

$color__border-button: transparent;
$color__border-button-hover: transparent;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
