.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	.comments-title {
		font-size: $font__size-h3;
	}

	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	article {
		margin-bottom: 2rem;

		.says {
			display: none;
		}

		.comment-metadata {
			display: inline-block;
			font-size: $font__size-small;

			a {
				color: $base20;
			}
		}

		.comment-author {
			display: inline-block;

			.avatar {
				display: none;
			}
		}

		.comment-content,
		.reply {
			margin-left: 0.5rem;
		}
	}

	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		word-break: break-word;
	}
}