.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

// for single
article.post {

	header {
		@include margin-bottom(0);
	}

	.post-thumbnail img{
		width: 100%;
		@include margin-bottom(0);
	}

	.entry-content {
		font-family: $font__serif;
		font-size: $font__size-h4;
		overflow-wrap: break-word;
		@include margin-bottom(1);

		figure {
			text-align: center;
		}

		figure.size-large:not(.is-resized),
		figure.size-full:not(.is-resized) {
			margin-left: auto;
			margin-right: auto;

			img {
				width: 100%;
			}

			figcaption {
				@include module-width($medium-bp, 75%);
				margin-left: auto;
				margin-right: auto;
			}
		}

		> ul, 
		> ol {
			padding-left: 1rem;
		}

		li {
			margin-bottom: 1rem;
		}
	}

	.entry-footer{
		@include shade("light");
		@include padding(30, 0, 60, 0);
		@include margin-bottom(1);

		.comments-wrapper {
			@include module-width($medium-bp, 60%);
		}	

		.entry-footer-meta {
			@include module-width($medium-bp, 32%);
			span {
				display: block;
				@include margin-bottom(0);
			}
		}
	}
}

// for grid
article.grid-post {
	padding-bottom: 1rem;
	@include margin-bottom(1);
	transition: $transition;

	.entry-header:hover .entry-title a {
		text-decoration: underline;
	}

	.entry-title,
	.entry-meta,
	.post-excerpt {
		padding: 0.5rem 0.5rem 0;
		margin: 0;
	}

	.post-excerpt {
		@media (min-width: $large-bp) {
			margin-top: 2rem;
		}
	}

	.entry-meta, .entry-meta a {
		color: $base30;
	}

	.home-thumbnail {
		width: 100%;
		background: $base70;
		background-image: $accent-gradient;
		background-position: center center;
		background-size: cover;
		border: 0.0625rem solid $base80;

		// when there is no featured image
		&:before {
			content: "";
			display: block;
			padding-top: 100%/3*2; 	// ratio of 3:2
			margin-bottom: rem(6);
		}
	}

	&.featured-post {
		@include column-2-to-1(column, initial);

		.entry-title {
			@media (min-width: $medium-bp) {
				padding-top: 0;
			}
		}

		.home-thumbnail:before {
			padding-top: 100%/16*9;
			@media (min-width: $medium-bp) {
				padding-top: 100%/3*2;
			}
			@media (min-width: $large-bp) {
				padding-top: 100%/16*9;
			}
		}

		.featured-post-text {
			min-width: 0;

			@media (min-width: $small-bp) {
				min-width: 22rem;
			}

			@media (min-width: $medium-bp) {
				margin-left: 1rem;
			}
		}

	}
}

.posts-grid {
	@include column-3;
}

.nav-links {
	@include margin-bottom(1);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article.page {
	@include margin-bottom(1);

	.entry-content {
		@include column-2-to-1(column-reverse, 65%);

		.main-entry-content {
			padding-right: 0;
			@media (min-width: $medium-bp) {
				padding-right: rem(32);
			}
		}
	}

	.toc {
		@include margin-bottom(0);
		@include padding(0, 0, 0, 16);

		ul {
			list-style: none;
			padding-left: 0;

			@include accent-line();
		}
	}
}

// offset anchor links because of fixed top navigation
// applied to all headings with an id
article.page h2[id]:before,
article.page h2[id]:before,
article.page h3[id]:before,
article.page h4[id]:before,
article.page h5[id]:before,
article.page h6[id]:before {
	content: " ";
	display: block;
	margin-top: rem(-$size__navigation - 50);
	height: rem($size__navigation + 50);
	visibility: hidden;
}

@keyframes flyin {
	0% {transform: scale(0.5) rotate(-75deg);}
	10% {transform: scale(1) rotate(15deg);}
	12% {transform: scale(1) rotate(0deg);}
	100% {transform: scale(1) rotate(0deg);}
}

@keyframes open {
	0% {transform: scale(1, 0.25);}
	10% {transform: scale(1, 1.25);}
	12% {transform: scale(1, 1);}
	100% {transform: scale(1, 1);}
}

// 404 page
.error404 .site-main {
	text-align: center;
	@include padding(32, 0, 64, 0);
	@include margin-bottom(2);

	.not-found-face {
		display: inline-block;
		padding: 0.75rem 1rem;
		border-radius: 0.2rem;
		line-height: 1.25;
		border: 0.125rem solid;
		@include margin-bottom(0);
		font-weight: 700;

		.eye {
			display: inline-block;
			padding: 0 0.125rem;
			animation: flyin 3s ease-in;
			animation-delay: 0.5s;
			animation-direction: alternate;
			animation-iteration-count: infinite;
		}

		.mouth {
			display: inline-block;
			animation: open 3s ease-in;
			animation-delay: 0.5s;
			animation-direction: alternate;
			animation-iteration-count: infinite;
		}
	}
}

.site-main .no-results {
	@include margin-bottom(1);
}