.site-header {
	z-index: 2000;
	width: 100%;
	position: fixed;
	top: 0;
	background: $color__background-body;
	transition: top .25s ease;
	border-bottom: 1px $base80 solid;
}

.site-branding {
	display: inline-block;
	order: 3;

	.site-title {
		margin: 0.5rem 1rem 0.5rem 0;

		a {
			color: $base10;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.custom-logo-link {
	order: 2;
}

.main-navigation {
	display: inline-block;
	margin-right: 1rem;
	order: 1;

	@media screen and (min-width: $small-bp) {
			order: 4;
	}

	ul {
		display: none;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.96);
		list-style: none;
		margin: 0;
		padding-left: 0;

		@media screen and (min-width: $small-bp) {
			position: relative;
		}

		li {
			margin-right: 1rem;
			&:last-child {
				margin-right: 0;
			}
		}

		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			padding: 0.5rem;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 100%;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		cursor: pointer;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $base10;
	}
}

.main-navigation.toggled {
	ul {
		position: absolute;
		left: 0;
		top: rem($size__navigation);
		width: 100%;
		padding: 1rem rem(30);
		border-top: 1px $base80 solid;
		border-bottom: 1px $base80 solid;
	}

	ul > li ul {
		position: relative;
		top: 0;
		padding: 0;
		border: 0;
		overflow: scroll;

		> li {
			margin-left: rem(20);
		}
	}
}

.site-main {
	margin-top: rem($site-main-shift);	
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $small-bp) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
