h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
}

h1 {
	font-size: 32px;
	font-size: $font__size-h1;
}

h2 {
	font-size: 24px;
	font-size: $font__size-h2;
}

h3 {
	font-size: 20px;
	font-size: $font__size-h3;
}

h4 {
	font-size: 18px;
	font-size: $font__size-h4;
}

h5 {
	font-size: 16px;
	font-size: $font__size;
}

h6 {
	font-size: 16px;
	font-size: $font__size;
}