h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
}

h1 {
	font-size: 32px;
	font-size: rem(32);
}

h2 {
	font-size: 24px;
	font-size: rem(24);
}

h3 {
	font-size: 20px;
	font-size: rem(20);
}

h4 {
	font-size: 18px;
	font-size: rem(18);
}

h5 {
	font-size: 16px;
	font-size: rem(16);
}

h6 {
	font-size: 16px;
	font-size: rem(16);
}