button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0px solid;
	border-color: $color__border-button;
	border-radius: 2px;
	background: $color__background-button;
	color: $color__text-color-button;
	font-size: 1rem;
	line-height: 1;
	padding: 0.4em 0.8em 0.4em;
	transition: $transition;

	&:hover {
		border-color: $color__border-button-hover;
		background: $color__background-button-hover;
		cursor: pointer;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.top-nav button,
.top-nav input[type="button"] {
	@include shade("light");
}