a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: underline;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.grid-post .entry-title a,
.grid-post .entry-title a:visited {
	color: $base10;
}

.photo-credit-container {
	a {
		color: inherit;
		text-decoration: underline;
	}
}

.site-footer {
	a, a:hover {
		color: $base100;
	}

	p a {
		text-decoration: underline;
	}
}