.site-header {
	z-index: 2000;
	width: 100%;
	position: fixed;
	top: 0;
	background: $color__background-body;
	transition: top .25s ease;
	border-bottom: 0.0625rem $base80 solid;

	.top-nav {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;

		@media screen and (min-width: $small-bp) {
			padding-top: 0.375rem;
			padding-bottom: 0.375rem;
		}		
	}

	select {
		max-width: rem(110);
	}
}

.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

.admin-bar .site-header {
	@media screen and (min-width: $small-bp) {
		top: 32px;
	}
}

.site-branding {
	display: inline-block;
	order: 3;

	.site-title {
		margin: 0.5rem 1.25rem 0.5rem 0;

		a {
			color: $base10;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.custom-logo-link {
	order: 2;
}

.main-navigation {
	display: inline-block;
	margin-right: 1rem;
	order: 1;

	@media screen and (min-width: $small-bp) {
		order: 4;
	}

	.menu {
		display: none;
		position: absolute;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: rgba(255, 255, 255, 0.98);

		@media screen and (min-width: $small-bp) {
			display: block;
			position: relative;
		}

		> li {
			@media screen and (min-width: $small-bp) {
				margin-right: 1rem;
				
				&:last-child {
					margin-right: 0;
				}
			}
		}

		.sub-menu {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			padding: 0.5rem 1rem;
			margin: 0;
			list-style: none;
			white-space: nowrap;
			background-color: rgba(255, 255, 255, 0.96);
			border: 0.0625rem solid $base50;
			border-radius: 0.125rem;
			max-width: 100vw;

			a {
				@include padding(4, 4, 4, 0);
			}

			a:hover,
			a.focus {
				background: none;
				text-decoration: underline;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: - rem(8); // based on .menu li padding-left
			right: auto;
		}

		.active > a {
			text-decoration: underline;
		}
	}

	li {
		position: relative;
		a {
			color: $base10;
			@include padding(4, 4, 8, 8);
			transition: $transition;
		}

		&:hover > a,
		&.focus > a {
			text-decoration: underline;
		}
	}

	a {
		display: block;
		text-decoration: none;
		cursor: pointer;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $base10;
	}
}

.main-navigation.toggled {
	.menu {
		position: absolute;
		left: 0;
		top: 3rem;
		width: 100%;
		padding: 1rem rem(30);
		border-top: 0.0625rem $base80 solid;
		border-bottom: 0.0625rem $base80 solid;
		font-weight: 700;
	
		.sub-menu {
			float: none;
			left: auto;
			position: relative;
			padding: 0;
			margin-left: 1rem;
			overflow: scroll;
			background-color: transparent;
			border: none;

			li {
				padding: 0.25rem;
			}
		}
	}

	#primary-menu {
		max-height: 70vh;
		overflow-y: scroll;
	}
}

.secondary-navigation {
	flex-grow: 100;
	order: 100;
	text-align: right;
	
	> div {
		margin-left: 0.5rem;
		display: none;
		@media screen and (min-width: $medium-bp) {
			display: inline-block;
		}
	}

	> div:first-child {
		display: inline-block;
	}
}

.site-start {
	margin-top: 4rem;
	@include margin-bottom(0);
	position: relative;

	@media screen and (min-width: $small-bp) {
		margin-top: 6rem;
	}

	.site-description {
		@include margin-bottom(1);
		@include accent-line();
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled .menu {
	display: block;
}

.menu-toggle {
	min-height: 1.625rem;
	min-width: 1.625rem;
	background-image: url("assets/svg/menu.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1rem;
}

@media screen and (min-width: $small-bp) {
	.menu-toggle {
		display: none;
	}

	.main-navigation .menu {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-next {
		text-align: end;
	}
}

.comment-navigation,
.posts-navigation {
	.nav-links {
		flex-direction: row;
	}

	.nav-previous {
		margin-right: 1rem;
	}
}

.post-navigation {
	.nav-links {
		flex-direction: column;
	}

	.nav-previous,
	.nav-next {
		@include padding(16, 0, 16, 0);
	}

	@media (min-width: $small-bp) {
		.nav-links {
			flex-direction: row;
		}

		.nav-previous,
		.nav-next {	
			flex: 0 0 49%;
		}
	}
}