// basics for buttons
button,
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"],
.home .nav-links a,
.archive .nav-links a {
	border: 0px solid;
	border-radius: 2px;
	font-size: 1rem;
	line-height: 1;
	padding: 0.4em 0.8em 0.4em;
	transition: $transition;

	&:hover {
		border-color: $color__border-button-hover;
		text-decoration: none;
		cursor: pointer;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		text-decoration: none;
	}
}

// basic button color dark
button,
.btn-dark,
input[type="button"],
input[type="reset"],
input[type="submit"],
.home .nav-links a,
.archive .nav-links a {
	background: $base10;
	color: $base100;

	&:hover {
		background: $base20;
		color: $base100;
	}

	&:active,
	&:focus {
		color: $base100;
	}
}

// basic button color light
.btn-light,
.site-footer button,
.site-footer input[type="submit"],
.top-nav button,
.top-nav input[type="button"] {
	background: $base80;
	color: $base10;

	&:hover {
		background: $base70;
		color: $base0;
	}

	&:active,
	&:focus {
		color: $base20;
	}
}

// accent button
.btn-accent {
	background: $accent50;
	color: $base100;

	&:hover {
		background: $accent30;
		color: $base100;
	}

	&:active,
	&:focus {
		color: $base100;
	}
}