input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 0.08rem solid $color__border-input;
	border-radius: 0.125rem;
	padding: 0.2rem 0.25rem 0.3rem;
	line-height: 1;
	resize: vertical;

	&:focus {
		color: $color__text-input-focus;
		background-color: $base100;
	}

	&::placeholder {
		color: $color__text-input-placeholder;
		opacity: 1;
	}
}

select {
	border: 0.08rem solid $color__border-input;
}

textarea {
	width: 100%;
}

.site-footer input[type="search"] {
	background-color: $base70;

	&::placeholder {
		color: $base10;
	}
}

form[role="search"] {
	position: relative;
}

input[type="search"] {
	background-image: url("assets/svg/search.svg");
	background-color: $base100;
	background-repeat: no-repeat;
	background-position: right 0.25rem top 50%;
	background-size: 1rem;
	padding-right: 1.5rem;
}

header input[type="search"],
footer input[type="search"] {
	max-width: rem(150);
}

form[role="search"] input[type="submit"] {
	position: absolute;
	width: 1.5rem;
	height: 100%;
	right: 0;
	top: 0;
	padding: 0;
	text-indent: -999em;
	background: 0 0;
	color: inherit;
	border-width: 0;
	z-index: 2;
	-webkit-box-shadow: none;
	box-shadow: none;
	overflow: hidden;
}